<section>
  <h1>Chi sono</h1>
  <p>Un chimico organico linuxaro. <a href="http://efesto.eigenlab.org/~ilario/Gelmetti_Ilario-CV.pdf" target="_blank">CV</a>. <a href="http://pgp.mit.edu/pks/lookup?search=Ilario+Gelmetti&op=index" target="_blank">E-Mail</a>.</p>
</section>
<section>
  <h1>Cos'è NinuxVerona</h1>
  <p>È la <a href="http://veronawirelesscommunity.github.io" target="_blank">wireless community network di Verona</a>.</p>
  <p>Si riconosce parte della <a href="http://ninux.org"  target="_blank">rete Ninux</a>.</p>
  <p>Vedi la <a href="http://map.ninux.org/select/veronailario" target="_blank">mappa della rete</a>.</p>
</section>

