#Forward all ssh and http connection requests from the internet to local system 192.168.1.5
#ACTION         SOURCE  DEST            PROTO   DEST    SOURCE  ORIGINAL
#                                       PORT    PORT(S) DEST
SECTION NEW

Invalid(DROP)   net     all             tcp
Invalid(DROP)   vr      all             tcp
SSH(ACCEPT)     net     $FW
SSH(ACCEPT)     vr      $FW
Ping(ACCEPT)    vr      $FW
Ping(ACCEPT)    net     $FW
HTTP(ACCEPT)    net     $FW
HTTP(ACCEPT)    vr      $FW
ACCEPT          vr      $FW             tcp 8080 #retroshare
ACCEPT          net     $FW             tcp 8080
ACCEPT          vr      $FW             udp 8080 
ACCEPT          net     $FW             udp 8080
ACCEPT          $FW     net
ACCEPT          $FW     vr
DNS(ACCEPT)     vr      $FW
DNS(ACCEPT)     net     $FW
ACCEPT          vr      $FW             tcp 5201 #iperf3
ACCEPT          vr      $FW             udp 5201
ACCEPT          net     $FW             tcp 4662 #amule
ACCEPT          net     $FW             udp 4665
ACCEPT          net     $FW             udp 4672
ACCEPT          net     $FW             tcp 8000 #isso
ACCEPT          vr      $FW             tcp 8000
ACCEPT          net     $FW             tcp 51413 #transmissionbt
ACCEPT          vr      $FW             tcp 51413
DNAT            net     vr:10.37.133.2 tcp 5646 #retroshare
DNAT            net     vr:10.37.133.2 udp 5646
ACCEPT          net     $FW             tcp 655 #tinc-vpn
ACCEPT          net     $FW             udp 655
